<div class="col-sm-4 col-md-4 col-lg-4" style="background-color:rgb(227, 233, 233); margin-top: 60px;
margin-left: 130px;"><br>
  <div>    <h2  style="color: rgb(100, 100, 235);font-weight: bold;margin-left: 75px;font-family: Algerian;">Modifier un Buggy :</h2>
    </div> <br><form style="margin-right: 35px;margin-left: 30px;"> <div >
         <label >ID Buggy</label> 
         <input readonly type="text" [(ngModel)]="currentBuggy.idBuggy" name="idBuggy" class="form-control">
         </div>  <div class="mt-3" >
              <label >Nom Buggy</label>
               <input type="text"[(ngModel)]= "currentBuggy.nomBuggy" name="nomBuggy" class="form-control">
             </div>  <div class="mt-3" >
                  <label >Prix Buggy</label>
                   <input type="number" [(ngModel)]= "currentBuggy.prixBuggy" name="prixBuggy" class="form-control">
                 </div>  <div class="mt-3" >
                      <label >Date création</label>
                       <input type="date" [ngModel]="currentBuggy.dateCreation | date: 'yyyy-MM-dd'"(ngModelChange)=" currentBuggy.dateCreation= $event" name="dateCreation" class="form-control">
                     </div> <div class="mt-3"> 
                         <button type="submit" (click)="updateBuggy()" class="btn btn-primary">Modifer</button>
                         </div> <br></form> </div>
